/* General Styles */
* {
  background-color:gainsboro;
  color:saddlebrown;
  font-family: Baskerville, 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
  font-size: 100%;
  box-sizing: border-box;
  /*line-height: 150%;*/
  /*margin-top: 0;*/
  /*margin-bottom: 10px;*/
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


img {
  border-radius: 20px;
  opacity: 90%;
}

footer {
  font-size: 0.7em;
}

/*
body {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}



h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0;
}


p,
li {
  font-size: 1.25em;
}

ul,
ol {
  display: inline-block;
  text-align: left;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
*/

/* Main Menu Styles */
/*
.menu {
  list-style-type: none;
}

.menu img {
  width: 150px;
  height: 200px;
  object-fit:cover;
}

.menu li {
  display:inline-block;
  vertical-align: text-top;
  width: 155px;
  padding: 15px;
}
*/